:root {
    --pod-width: 0%;
}

 *{
    margin: -5;
    padding: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 800px; 
}

body{
    background: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111016;
    padding: 2px 5%;
    position: sticky;
    min-height: 200px; 
}

/* Nav */
.nav-left, .nav-right{
    display: flex;
    align-items: center
}

.logo{
    width: 750px;
    margin-right: 5px;
    cursor: pointer;
}

.event{
    font-size: 25px;
    display: flex;
    color: #ffffff;
}

.event p{
    font-size: 20px;
    display: inline;
}

.event a{
    color: grey;
    font-size: 18px;
    display: flex; 
    margin-top: 20px; 
}

.date{
    border-radius: 30px;
    height: 125px;
    width: 125px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px black; 
}

.date span{
    background: rgba(238,188,49,255);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    padding: 5px 0;
}

.info {
    font-size: 20px;
    margin-top: -12px; 
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    padding-top: 10px;
}

/* left side bar menu*/
.left-sidebar{
    top: 60px;
    align-self: sticky;
    position: sticky;
    flex-basis: 100px;
    margin-right: 50px;
}

.right {
    flex-basis: 200px;
    margin-left: 50px;
  }

.shortcuts p{
    color: #ffffff;
    width: fit-content;
    text-decoration: none;
    display: sticky;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
    cursor: pointer; 
}

.shortcuts p img{
    width: 50px;
    margin-right: 30px;

}

.shortcuts h4{
    color: rgba(238,188,49,255);
    width: 220px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.shortcuts h4 img{
    width: 25px;
    margin-right: 15px;

}

.shortcuts h4{
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

/* main menu*/
.menu-middle {
    margin-top: 10px;
    margin-right: 20px;
    flex-basis: 47%;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 25px 80px;
    flex-grow: 1;
    text-align: center;
}

.button{
    border-radius: 5px;
    height: 75px;
    width: 600px;
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 5px;
    background: #111016;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: solid white 2px;
}

.button a{
 text-decoration: none;
}

.button span{
    color: #ffffff;
    position: relative;
    width: 100%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    top: -10px; 
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: all 0.3s ease;
}
    
.button:hover::before {
    width: 400px;
    height: 400px;
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
}

.menu-right-sidebar {
    border-radius: 10px; 
    margin-top: 50px;
    margin-left: -50px; 
    width: 57vh; 
    height: 90%; 
    border: 2px solid white; 

}

.qpod {
    width: 600px; 
    height: 600px; 
    margin-left: -8px;  
}

/* main dashboard*/

#dashboardMiddle {
    display: none; 
    position: absolute; 
    left: 325px; 
    top: 250px; 
    width: 1475px; 
    height: 780px; 
    color: white; 
}

.speedometer-container {
    width: 400px;
    height: 400px;
    top: 60px; 
    position: absolute;
  }
  
.speedometer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 300px;
    background: #111016;
    border-radius: 50%;
    overflow: hidden;
}
  
.dial {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background: black;
    border-radius: 50%;
}
  
.needle {
    width: 6px;
    height: 50%;
    position: relative;
    top: 0;
    left: 50%;
    background: rgba(238,188,49,255);
    transform-origin: bottom center;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}
  
.speedometer-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
  
  .value {
    display: block;
    font-size: 48px;
    color: white;
}
  
.unit {
    display: block;
    font-size: 24px;
    color: grey;
}

#accelerationTime {
    position: absolute; 
    left: 132px; 
    display: none; 
}

#accelerationGraph {
    position: absolute; 
    top: 515px; 
    left: 100px; 
    border-bottom: solid #111016 1px;
    border-left: solid #111016 1px;
}

#rpmGraph {
    position: absolute; 
    top: 515px; 
    right: 600px; 
    border-bottom: solid #111016 1px;
    border-left: solid #111016 1px;
}

.navigationButtons {
    position: absolute; 
    height: 150px; 
    width: 150px; 
    background-color: #111016;
    border-radius: 50%;
    text-align: center;
    cursor: pointer; 
}

.navigationButtons p {
    position: relative;
    top: 25px; 
    font-size: 30px;
    font-weight: bold; 
}

#start,#check, #underway {
top: 200px; 
left: 50px; 
background-color: #111016 ;
z-index: 1;
}

#underway {
    background-color: black;
    z-index: 0; 
}

#stop {
top: 200px; 
left: 800px; 
z-index: 2;
}

#reset {
    top: 200px; 
    left: 800px; 
    z-index: 1;
}

#stop p {
    color: red; 
}

#start p {
    color: #32CD32; 
}

.pod-mode {  
    position: relative;
    background-color: #111016;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    display: inline-flex; 
    justify-content: center;
    margin-right: 120px; 
    top: -10px;
    border: white solid 2px; 
}

.pod-mode h3 {
    position: absolute;
    top: -5px;   
    color: white; 
}

.pod-mode p {
    position: absolute; 
    left: 55px; 
    top: -15px;  
    font-size: 12px;
}

.initiation-line {
    background-color: white;
    height: 3px; 
    width: 130px; 
    position: absolute; 
    left: 50px; 
    top: 25px; 
    display: none; 
}

.trip-bar {
    position: absolute; 
    bottom: 0px; 
    left: -100px; 
}

.trip-bar h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px; 
    color: white; 
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px; 
}

.trip-progress {
    background: gray; 
    width: 1350px;
    height: 10px;
    border-radius: 3px;
}

.trip-progress div {
    height: 10px; 
    width: 0%; 
    background: rgba(238,188,49,255); 
    border-radius: 3px;
}

.trip-progress div img {
    width: 150px; 
    position: relative; 
    bottom: 18px; 
    float: right;
    left: 2px; 
    top: -33px; 
}

.pod-distance {
    animation: pod-distance 3s linear forwards;
}

@keyframes pod-distance {
    100%{
        width: var(--pod-width); 
    }
}

#tripDistance {
    position: absolute; 
    right: 0px; 
    top: -5px; 
    font-size: 20px;
}

#startPosition {
    position: absolute; 
    left: 0px; 
    top: -5px; 
    font-size: 20px;
}


#battery-container {
    position: absolute; 
    right: 100px; 
    top: 80px;
    width: 300px;
    height: 300px; 
}
  #battery-container h1 {
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative; 
    top: -210px;
    right: -85px; 
    font-size: 50px;
}

#battery-container p {
    position: absolute;
    top: -110px; 
    right: -20px; 
    width: 350px; 
}

#navigationData {
    position: absolute; 
    top: 420px; 
    right: 80px;
    width: 350px; 
}

#navigationData .data-text {
    width: 165px; 
}

#dashboardDivider {
   position: absolute; 
   right: 475px;  
}

/* main podsystem*/
#podsystemMiddle {
    display: none; 
    position: absolute; 
    left: 325px; 
    top: 250px; 
    width: 800px;
    height: 700px; 
    color: white; 
}

.telemetry {
width: 800px;   
position: absolute; 
}

.telemetry p {
padding-left: 15px; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 26px; 
padding-bottom: 6px; 
border-bottom: solid white 2px; 
}

#motorGraph {
max-height: 250px;
}

#batteryGraph {
max-height: 250px;
top: 350px; 
}

#speedGraph {
    padding: 0 20px;
}

#podsystemDivider {
    position: absolute;  
    left: 840px; 
}

.divider {
    width: 2px; 
    height: 500px; 
    border-right: solid white 2px;
    top: 100px; 
}

/* right sidebar podsystem */
#podsystemSidebar {
    display: none; 
    position: absolute; 
    right: 50px; 
    top: 250px; 
    width: 600px; 
    height: 700px; 
}

.sensor-data {
    width: 500px;  
}

#temperatureData {
    position: absolute; 
    left: 50px;
}

#voltageData {
    position: absolute; 
    top: 225px; 
    left: 50px;
}

#pressureData {
    position: absolute; 
    top: 450px; 
    left: 50px;
}

.data-header {
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px; 
    border-bottom: solid white 2px; 
    padding-bottom: 6px; 
    padding-left: 10px; 
}

.data-holder {
    color: white; 
    display: flex; 
    flex-wrap: wrap;
    margin-top: -15px; 
    margin-left: 20px; 
    
}

.data-text {
    width: 160px; 
    min-width: 120px; 
    text-align: center;
}

.data-value {
    margin-top: -10px; 
    color: grey; 
}

/* main alerts*/
.alerts-middle {
    position: absolute; 
    top: 250px; 
    left: 325px; 
    width: 1425px; 
    overflow: hidden;
    overflow-y: auto;
    display: none; 
    flex-direction: column;
    border-radius: 5px; 
    min-height: 750px; 
}

.alerts-middle h2 {
    color: white; 
    position: absolute; 
    width: 400px;
    left: 33%; 
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 12px;
}

.alert {
    position: absolute; 
    bottom: 20px; 
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: auto;
    height: 50px; 
    display: none; 
}

.alerts-middle .alert {
    position: relative;
    height: 50px; 
    top: 10px; 
    display: none; 
}

.success {
    background-color: #4CAF50;
    color: white;
}

.warning {
    background-color: #f44336;
    color: white;
}

.error {
    background-color: #ff9800;
    color: white;
}

.closebtn {
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

.closebtn:hover {
    color: black;
}


/* main inputs*/
#inputsMiddle {
    display: none; 
    margin-top: -30px;
    margin-right: 20px;
    flex-basis: 47%;
    flex-wrap: wrap-reverse;
    gap: 25px 80px;
    flex-grow: 1;
    text-align: center;
    color: white; 
    position: absolute; 
    left: 325px;
}

form {
  width: 1450px; 
  margin: 0 auto; 
}

fieldset {
  border: none; 
  padding: 30px 0;  
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

label {
  margin: 20px 0;
  width: 300px;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #111016;
  border: 1px solid #111016;
  color: #ffffff;
  border-radius: 5px; 
  padding-left: 10px; 
  height: 60px; 
  border: solid white 1px;
}

input[type="button"] {
  display: block;
  width: 250px;
  margin: 1em auto;
  height: 150px;
  font-size: 25px; 
  background-color: #111016;
  position: absolute; 
  left: -300px; 
  top: 600px; 
  cursor: pointer; 
  border: solid white 2px;
}

input[type=text]::placeholder {
    color: white; 
    opacity: 50%;
}